body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
  margin-top: 0;
  line-height: 2;
  color: #1F4690;
  font-family: 'sacramento', cursive;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #1F4690;
  padding-bottom: 10px;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #1F4690;
  font-weight: normal;
}
.bat{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.jain{
  width: 25%;
  float: right;
  margin-left:3px;

}
.hover{
  padding-bottom: 80px;
}
.copy{
  color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

p {
    line-height: 2;
}

.skill-row{
  text-align: left;
  width: 50%;
  margin: auto;
  margin: 100 auto 100 auto;
  line-height: 2;
}
.engg{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1F4690;
}
.vana{
  width: 30%;
  margin: auto;
  padding-bottom: 20px;
}
.btn {
  background: #8bcbf5;
  background-image: -webkit-linear-gradient(top, #8bcbf5, #5200f7);
  background-image: -moz-linear-gradient(top, #8bcbf5, #5200f7);
  background-image: -ms-linear-gradient(top, #8bcbf5, #5200f7);
  background-image: -o-linear-gradient(top, #8bcbf5, #5200f7);
  background-image: linear-gradient(to bottom, #8bcbf5, #5200f7);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  color: #1f1b1f;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.lasa{
  padding-bottom: 20px;
}
.hello{
  margin-top: 10px;
}
.jain{
  height: 100px;
  width: 100px;
}



.top-container{
  background-color: #87CEEB;
  position:relative;
  padding-top: 100px;



}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.middle-container{
  margin: 100px 0;


}
.bottom-container{
  background-color: #66BFBF;
  padding: 50PX 0 20PX;


}
a{
  color: #1F4690;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #5200f7;

}
hr{
  border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 7px;
width: 10%;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
